apiVersion: v1
kind: Service
metadata:
  labels:
    app: wekan
  name: wekan
spec:
  ports:
  - name: "8080"
    nodePort: 31141
    port: 8080
    targetPort: 8080
  selector:
    app: wekan
  type: NodePort
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: wekan
  name: wekan
spec:
  containers:
  - args:
    - mongod
    image: docker.io/library/mongo:latest
    name: db
    ports:
    - containerPort: 8080
    volumeMounts:
    - mountPath: /data/mongo
      name: wekandb-pvc
    - mountPath: /data/configdb
      name: configdb-pvc
    - mountPath: /data/db
      name: db-pvc
  - env:
    - name: MONGO_URL
      value: mongodb://wekan-db/wekan
    - name: ROOT_URL
      value: http://0.0.0.0
    - name: WITH_API
      value: 'true'
    image: docker.io/wekanteam/wekan:latest
    name: board
    securityContext: {}
  volumes:
  - name: wekandb-pvc
    persistentVolumeClaim:
      claimName: wekandb
  - name: configdb-pvc
    persistentVolumeClaim:
      claimName: configdb-pvc
  - name: db-pvc
    persistentVolumeClaim:
      claimName: db
